@model E_Commerce.Models.ProductWrapper;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Products</title>
</head>
<body>
    <div class="wrapper">

    <a href = "logout">Logout</a>
    <br/>
    <h1><a href="main">Dashboard</a> | Products | <a href="orders">Orders</a> | <a href="customers">Customers</a> | <a href="">Settings</a></h1>
    <div class="productforms">
    <br>
        <h2>Filter by Product Name:</h2>
        <form>
            <input type="text"/>
            <input type = "submit" value = "Filter"/>
        </form>
    <br>
    <div>
        <h2>Add a New Product:</h2>
        <form asp-controller="Home" asp-action="AddProduct" method="POST">
            <span asp-validation-for="@Model.Product.ProductName"></span>
            <label asp-for="@Model.Product.ProductName"></label>
            <input asp-for="@Model.Product.ProductName"/>
            <br>
            <span asp-validation-for="@Model.Product.Image"></span>
            <label asp-for="@Model.Product.Image"></label>
            <input asp-for="@Model.Product.Image"/>
            <br>
            <span asp-validation-for="@Model.Product.Description"></span>
            <label asp-for="@Model.Product.Description"></label>
            <input asp-for="@Model.Product.Description"/>
            <br>
            <span asp-validation-for="@Model.Product.QuantityInStore"></span>
            <label asp-for="@Model.Product.QuantityInStore"></label>
            <input asp-for="@Model.Product.QuantityInStore"/>
            <br>
            <input type="submit" value="Add New Product"/>
        </form>
    </div>
    </div>
    <div class="allproductlist">
    <br>
        @foreach(var product in Model.AllProducts)
        {
            <div class="productlist">
                <img src="@product.Image">
                <p>@product.ProductName</p>
                <p>(@product.QuantityInStore left)</p>
            </div>      
        }
    </div>
    </div>
</body>
</html>